Icon

venv

scripts/sandbox.py

build/
dist/
*.egg-info
*.egg-info test

*.pyc

__pycache__/

pycromanager/test/temp_data
scripts/debug.py

# intelliJ
java/src/main/java/.idea/
*.iml
#maven
java/target
.idea/
#jupyter
.ipynb_checkpoints
#vim
*.swp
#vs code
.vscode/
#OS files
.DS_Store
